<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--自适应宽度-->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/my/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/my/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-heading">访问model</h1>
    </div>
    <div class="panel-body">
        <span th:text="${test.name}"/>
    </div>
    <div th:if="${not #lists.isEmpty(tests)}">
        <div class="panel panel-primary">
            <h2 class="panel-title">列表</h2>
        </div>
        <div class="panel-body">
            <ul class="panel-group">
                <li class="list-group-item" th:each="test:${tests}">
                    <span th:text="${test.name}"></span>
                    <button class="btn" th:onclick="'getName(\''+${test.name}+'\')'">获取name</button>
                    <span th:if="${not #lists.isEmpty(time)}">
                    <span th:text="${#dates.format(time,'yyyy-MM-dd HH:mm:ss')}"></span>
                </span>
                </li>
            </ul>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a href="#">&laquo;</a>
                    <!--<span aria-hidden="true">«</span>-->
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#">&raquo;</a>
                    <!--<span aria-hidden="true">»</span>-->
                </li>
            </ul>
        </nav>
    </div>
</div>
<script th:src="@{/my/js/jquery-2.0.3.min.js}" type="text/javascript"></script>
<script th:src="@{/my/js/bootstrap.min.js}" type="text/javascript"></script>
<script>
    function getName(name) {
        console.log(name);
    }

    // $(".pagination").pagination(totalData, { //totalData代表数据总数，比如查询数据库得到200条数据，同常定义为全局变量,
    //     //由后台查询得到的个数决定。
    //
    //     callback:function(data){  //回调函数中的data表示，当前点击的页面，但是有一点需要注意，data的值永远比当前点击数小1
    //         //比如，当前点击的2，则data返回的值为1，点击1时，返回值为0，
    //         //需要我们后台对其中的逻辑关系进行处理
    //
    //         paginationClick(data);  //回调函数的处理事件，点击“页码”时，触发事件的处理方法，包括前端处理方法或者后端处理方法
    //     },
    //     num_edge_entries: 1,  //两侧显示的首尾分页的条目数
    //     num_display_entries: 4,  //连续分页主体部分显示的分页条目数
    //     items_per_page:10 //每页显示数据的数量
    // });
</script>
</body>
</html>